.main-header {    
    padding: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 200px;
}

.main-header__title {    
    font-size: 60px;
    letter-spacing: -1.5px;    
}

.main-header__title--orange {
    color: var(--orange);
    color: orange;
    font-size:60px;
}

.main-header__menu ul {
    display: flex;
    justify-content: flex-end;
}

.main-header__menu a {
    padding: 10px 80px;
    color: var(--gray);
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.main-header__menu a:hover {
    background-color: var(--orange);
    color: #fff;
}

.container-menu {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex: 1;
}

.search-form{
    height: 44px;
    padding: 30px;
    display: flex;
    color: var(--gray);
    font-weight: 500;
    font-size: 25px;
}

.search-form input{
    box-sizing: border-box;
    height: 28px;
    padding: 10px;
    
    background-color: var(--light-gray);
    color: var(--gray);
    border: none;
    transition: all -3s ease-in-out;
    font-size: 20px;
}

.search-form button{
    width: 35px;
    height: 28px;
    background-color: var(--orange);
    border:none;
    color: #fff;
    font-size: 20px;
}