<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--orange">
            <i class="fa-brands fa-deezer"></i>
        </span>
        <span>
            Deezer
        </span>
        <span class="main-header__title--orange">Api</span>
    </h1>
    <div class="container-menu">
    <nav class="main-header__menu">
        <ul>
            <li>
                <a routerLink="home">
                    Top Músicas do Momento
                </a>
                <a routerLink="search">
                    Pesquisar
                </a>
                <a href="https://www.deezer.com/" target="_blank">
                    Deezer
                    <i class="fa-brands fa-deezer"></i>
                </a>
            </li>
        </ul>
    </nav>
    </div>
</header>