<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Site desenvolvido com o objetivo de apresentar algumas informações providas do site deezer.com
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-regular fa-envelope"></i>diegoocandidooliveira@gmail.com</li>
                <li><i class="fa-brands fa-whatsapp"></i>(75)98849-4366</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
