.track-list {
    padding: 10px 0;
    width: fit-content;    
    display: flex;
    gap: 10px;
    flex-flow: row wrap;  
    justify-content: space-evenly;
    align-content: center;  
}

.track-list__card {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 4px;
    flex: 0 1 170px;
    height: 300px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    vertical-align: middle;       
}

.track-list__card:hover {
    outline: 1px solid var(--orange);
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.track-list__card img {
    height: 100px;
    width: 100px;    
    display: block;
    border-radius: 4px;
}

.track-list__link {
    display: flex;
    flex-direction: column;    
    align-items: center;
    row-gap: 10px; 
    text-decoration: none;
}

.track-item__artist {
    font-size: 15px;
    color: var(--orange);
}

.track-item__name {
    color: var(--gray);
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}